################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Epc.API/bin/Debug/netcoreapp1.1
/Epc.API/obj
/Epc.API/obj
/.vs/
/Epc.API/appsettings.Development.json
/Epc.API/bin/Debug/netcoreapp2.0
/Epc.API.Test/bin/Debug/netcoreapp2.0
/Epc.API.Test/obj/Debug/netcoreapp1.1
/Epc.API.Test/obj/Debug/netcoreapp2.0
/Epc.API.Test/obj

/Epc.API/bin/Release/PublishOutput
/Epc.API/bin/Release/netcoreapp2.0
